<nav style=" background-color:purple;color:white">
  <div>
    <h1 style="text-align: center;margin-left:1rem;margin-right: 1rem;"routerLink="">EMS</h1>
  </div>
  <button style="margin-left:1rem;margin-right: 1rem;" routerLink="" >
    Home</button>
  <ng-container *ngIf="!loggedIn">
    <button style="margin-left:1rem;margin-right: 1rem;" routerLink="login" >
      Login</button>
  </ng-container>
  <button style="text-align: center;" routerLink="employees" >
      List Of Employee's</button>
  <ng-container *ngIf='loggedIn' >
    <button style="text-align: right;margin-left:47rem;margin-right: 1rem;" routerLink="login" (click)="back()">
      Logout</button>
  </ng-container>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
-